<div class="main-div">
    <mat-card>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-content>
            <form [formGroup]="signUpForm" novalidate>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="userName" (keypress)="onlyAlphanumeric($event)" required>
                    <mat-error *ngIf="f.userName.hasError('required')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="f.userName.hasError('minlength')">
                        Username must be minimum of 5 characters.
                    </mat-error>
                    <mat-error *ngIf="f.userName.hasError('maxlength')">
                        Username must be maximum of 8 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="f.email.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="f.email.hasError('maxlength')">
                        Email must be maximum of 50 characters.
                    </mat-error>
                    <mat-error *ngIf="f.email.invalid && f.email.value != ''">
                        Not a valid email.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required>
                    <mat-error *ngIf="f.password.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="f.password.hasError('minlength')">
                        Password must be minimum of 8 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="f.firstName.hasError('required')">
                        First Name is required
                    </mat-error>
                    <mat-error *ngIf="f.firstName.hasError('maxlength')">
                        First Name must be maximum of 20 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="f.lastName.hasError('required')">
                        Last Name is required
                    </mat-error>
                    <mat-error *ngIf="f.lastName.hasError('maxlength')">
                        Last Name must be maximum of 20 characters.
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="signUpForm.invalid" (click)="signUpData()">Register</button>
            <button mat-raised-button color="primary" routerLink="/login">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>