<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content>
    <form [formGroup]="createPostForm" novalidate>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter content" formControlName="content">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Select Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let item of StatusList" [value]="item">
                    {{item| titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="createPostForm.invalid" (click)="createPost()" cdkFocusInitial>SAVE</button>
    <button mat-button (click)="onNoClick()">CANCEL</button>
</div>